:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}

/*Clases para interactuar con javascript*/
.inactive {
    display: none;
}
/*Fin de clases para interactuar con JavaScript*/

/*Estilos del navbar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu-icon {
    display: none;
}
.logo {
    width: 100px;
}
.navbar-left ul,
.navbar-right ul {
    display: flex;
    align-items: center;
    height: 60px;
    list-style: none;
    padding: 0;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    padding: 8px;
    border: 1px solid var(--white);
    border-radius: 8px;
    text-decoration: none;
    color: var(--very-light-pink);
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.navbar-email {
    margin-right: 12px;
    color: var(--very-light-pink);
    font-size: var(--sm);
    cursor: pointer;
}
.navbar-email:hover {
    border: 1px solid var(--hospital-green);
    border-radius: 4px;
    color: var(--hospital-green);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -5px;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
}
/*Fin de estilos del navbar*/

/*Estilos del menú desktop*/

.desktop_menu {
    position: absolute;
    top: 60px;
    right: 52px;
    width: 150px;
    height: auto;
    padding: 20px 20px 0 20px;
    background: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
}
.desktop_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop_menu ul li{
    text-align: end;
}
.desktop_menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop_menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop_menu ul li a{
    display: inline-block;
    margin-bottom: 20px;
    font-size: var(--md);
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
/*Fin de estilos del menu desktop*/
@media (max-width: 769px) {
    /*Media queries del navbar*/
    .menu-icon {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    /*Fin de media queries del navbar*/
}